# Python virtual environments

venv/
.venv/
myvenv/
env/

# Python cache

**pycache**/
*.pyc
*.pyo
*.pyd

# Environment variables

.env

# IDE files

.vscode/
.idea/

# macOS

.DS_Store

# Logs

*.log

# Build artifacts

build/
dist/
*.egg-info/

